<!doctype html>
<html>
<head>
  <title>Instant Search Tutorial</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- IE < 10 support -->
  <!--[if lte IE 9]>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.2/themes/reset-min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="./assets/style.css">
  <link rel="stylesheet" type="text/css" href="./assets/style-override.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/hilnmyskv/image/upload/c_fit,w_32,h_32/algolia-mark.ico" />
</head>
<body>

  <!-- INTERFACE -->
  <header>
    <a href="."><img src="./assets/img/instant_search_logo@2x.png"/></a>
    <div id="search-input"></div>
  </header>

  <main>
    <div id="left-column">
      <div id="hierarchical-categories" class="facet"></div>
      <div id="brand" class="facet"></div>
      <div id="stars" class="facet"></div>
      <div id="price" class="facet"></div>
      <div id="type" class="facet"></div>
      <div id="popularity-selector" class="facet"></div>
      <div id="free-shipping" class="facet"></div>
    </div>

    <div id="right-column">
      <div id="sort-by-wrapper"><span id="sort-by"></span></div>
      <div id="stats"></div>
      <div id="active-filters"></div>
      <div id="hits"></div>
      <div id="pagination"></div>
    </div>
  </main>

  <footer>
    Source Code on <a href="https://github.com/algolia/instant-search-demo">Github</a> -
    Powered by <a href="https://www.algolia.com">Algolia</a> - Data from <a href="https://developer.bestbuy.com">Best Buy</a>
  </footer>
  <!-- /INTERFACE -->

  <!-- TEMPLATES -->
  <script type="text/html" id="hit-template">
    <div class="hit">
      <div class="hit-image">
        <img src="{{image}}" alt="{{name}}">
      </div>
      <div class="hit-content">
        <h3 class="hit-price">${{price}}</h3>
        <h2 class="hit-name">{{{_highlightResult.name.value}}}</h2>
        <p class="hit-category-breadcrumb">{{{categories}}}</p>
        <p class="hit-stars">{{{starsLayout}}} ({{popularity}})</p>
        <p class="hit-description">{{{_highlightResult.description.value}}}</p>
      </div>
    </div>
  </script>

  <script type="text/html" id="no-results-template">
    <div id="no-results-message">
      <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
      <a href="." class='clear-all'>Clear search</a>
    </div>
  </script>
  <!-- /TEMPLATES -->

  <!-- SCRIPTS -->
  <script src="env.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.3/dist/algoliasearch-lite.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.7.0/dist/instantsearch.production.min.js"></script>
  <script src="search.js"></script>
  <!-- /SCRIPTS -->

  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-98919331-2', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /GA -->
</body>
</html>
