#search-input input {
    border-bottom: 5px solid #eee;
}

#search-input input::-webkit-input-placeholder,
#search-input input:-moz-placeholder,
#search-input input:-moz-placeholder,
#search-input input:-ms-input-placeholder {
    color: #999;
}

input.ais-SearchBox-input::placeholder {
    color: #999;
}

.ais-SearchBox-submit svg,
.ais-SearchBox-reset svg {
    fill: rgb(142, 142, 142);
}
