#search-input input {
    border-bottom: 5px solid #ff426b;
    background-color: #ff426b
}

#search-input input::-webkit-input-placeholder,
#search-input input:-moz-placeholder,
#search-input input:-moz-placeholder,
#search-input input:-ms-input-placeholder {
    color: #fff;
}

input.ais-SearchBox-input::placeholder {
    color: #fff;
}

.ais-SearchBox-submit svg,
.ais-SearchBox-reset svg {
    fill: rgb(255, 255, 255);
}
